body {
  background-image: url(https://th.bing.com/th/id/R.4453521dca97c3188f6a805bb3952098?rik=yoHyJc1bK6yqeQ&pid=ImgRaw&r=0);
  font-family: 'Cabin', sans-serif;
  color: white;
}

#homepage {
  min-height: 100vh;
}

#homepage-images {
  min-height: 108vh;
}

nav {
  display: flex;
  height: 50px;
  background-color: black;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

nav > div {
  font-size: 20px;
  color: aqua;
  margin: 0 10px;
}

#nav-buttons {
  display: inherit;
  margin-left: auto;
}

.nav-button {
  margin-left: 10px;
}

#intro-text {
  float: right;
  text-align: right;
  width: 55%;
  font-size: 20px;
  margin: 30px 10px 10px 20px;
}

#normal-pic {
  float: left;
  margin: 10px;
  height: 1000px;
}

#cooler-pic {
  margin: 70px 10px -100px 35px;
  height: 800px;
}

#cute-athena {
  float: right;
  margin: 10px 10px ;
  height: 410px;
}

#cuter-athena {
  float: right;
  margin: -330px 10px 0 10px;
  height: 410px;
}

#about-title {
  display: flex;
  height: 50px;
  background-color: black;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

#about-title-text {
  font-size: 20px;
  color: aqua;
  margin: 0 10px;
}

#about-text {
  margin: 30px 10px;
  font-size: 20px;
}