body {
  background-image: url(https://i.imgur.com/es8uAV3.jpg);
  background-color: gray;
  /* GOTTA MAKE THIS WORK LATER */
  font-family: 'Cabin', sans-serif;
  color: white;
}

nav {
  display: flex;
  height: 50px;
  background-color: black;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

nav > div {
  font-size: 20px;
  color: #00ffff;
  margin: 0 10px;
}

#nav-buttons {
  display: inherit;
  margin-left: auto;
}

.nav-button {
  margin-left: 10px;
}

#intro-text {
  text-align: right;
  margin: 50px 20px;
}
